# Lab 1 - Pandas Intro

In [2]:
import pandas as pd

movies_df = pd.read_csv("movie.csv")
movies_df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

## Questions

**0.** What is the average IMDB Score of all the movies?

In [4]:
score = movies_df.imdb_score.mean()
score

6.4374288039056085

**1.** How many movies have "Star Wars" in the movie_title field?

In [19]:
movies_df = pd.read_csv("movie.csv")

colNames = movies_df.movie_title[movies_df.movie_title.str.contains(pat = 'Star Wars')]
len(colNames)

8

**2.** Which movie has the highest IMDB Score? What is that score?

In [13]:
movies_df = pd.read_csv("movie.csv")

max_score = movies_df[movies_df['imdb_score']==movies_df['imdb_score'].max()]
print(max_score.movie_title)
max_score.imdb_score

2725    Towering Inferno
Name: movie_title, dtype: object

2725    9.5
Name: imdb_score, dtype: float64

**3**. Which movie has the lowest IMDB Score? What is that score?

In [14]:
movies_df = pd.read_csv("movie.csv")

min_score = movies_df[movies_df['imdb_score']==movies_df['imdb_score'].min()]
print(min_score.movie_title)
min_score.imdb_score

2789    Justin Bieber: Never Say Never
Name: movie_title, dtype: object

2789    1.6
Name: imdb_score, dtype: float64

**4.** For each director, how many movies have they directed (from this dataset)?

In [35]:
movies_df = pd.read_csv("movie.csv")

movies_df.pivot_table(columns=['director_name'], aggfunc='size')

director_name
A. Raven Cruz         1
Aaron Hann            1
Aaron Schneider       1
Aaron Seltzer         1
Abel Ferrara          1
                     ..
Zoran Lisinac         1
Álex de la Iglesia    1
Émile Gaudreault      1
Éric Tessier          1
Étienne Faure         1
Length: 2397, dtype: int64

**5.** What's the average duration of Action movies?

In [21]:
movies_df = pd.read_csv("movie.csv")

action_movies = movies_df[movies_df.genres.str.contains(pat = "Action")]
action_movies.duration.mean()

110.67657657657658

**6.** Which PG-13 movie had the biggest budget?

In [34]:
movies_df = pd.read_csv("movie.csv")

data_frame = pd.DataFrame(movies_df, columns= ['movie_title', 'content_rating', 'budget'])
data_frame.drop(movies_df[movies_df.content_rating != "PG-13"].index, inplace = True)
data_frame.sort_values(by=['budget'], ascending = False)

                                   movie_title content_rating        budget
2294                         Princess Mononoke          PG-13  2.400000e+09
2305                                  Steamboy          PG-13  2.127520e+09
3779                                     Tango          PG-13  7.000000e+08
1     Pirates of the Caribbean: At World's End          PG-13  3.000000e+08
5                                  John Carter          PG-13  2.637000e+08
...                                        ...            ...           ...
4679                        Dogtown and Z-Boys          PG-13           NaN
4754                           Shotgun Stories          PG-13           NaN
4814                            Heroes of Dirt          PG-13           NaN
4835                                The Mighty          PG-13           NaN
4914                          Shanghai Calling          PG-13           NaN

[1411 rows x 3 columns]

**7.** How many movies were made in each year (title_year)?

In [36]:
movies_df = pd.read_csv("movie.csv")

movies_df.pivot_table(columns=['title_year'], aggfunc='size')

title_year
1916.0      1
1920.0      1
1925.0      1
1927.0      1
1929.0      2
         ...
2012.0    214
2013.0    231
2014.0    243
2015.0    211
2016.0     98
Length: 91, dtype: int64

**8.** How many movies had more than 10000 movie_facebook_likes?

In [39]:
movies_df = pd.read_csv("movie.csv")

movies_df.drop(movies_df[movies_df.movie_facebook_likes >= 9999].index, inplace = True)
len(movies_df)

3818


**9.** How many movies have "Tom Hanks" (as actor1, actor2, or actor3)?

In [54]:
movies_df = pd.read_csv("movie.csv")

mask = (
    (movies_df.actor_1_name == "Tom Hanks") |
    (movies_df.actor_2_name == "Tom Hanks") |
    (movies_df.actor_3_name == "Tom Hanks") 
)
mask

len(movies_df[mask])

28

**10.**  What are the movies and number of voted users (num_voted_users) for movies that have less than 2 faces in the poster (facenumber_in_poster)?

In [55]:
movies_df = pd.read_csv("movie.csv")

poster = pd.DataFrame(movies_df, columns= ['movie_title', 'num_voted_users', 'facenumber_in_poster'])
poster.drop(movies_df[movies_df.facenumber_in_poster != 2.0].index, inplace = True)
poster

,movie_title,num_voted_users,facenumber_in_poster
13,Pirates of the Caribbean: Dead Man's Chest,522040,2.0
24,The Golden Compass,149019,2.0
37,Transformers: Age of Extinction,242420,2.0
42,Green Lantern,223393,2.0
51,Prince of Persia: The Sands of Time,222403,2.0
...,...,...,...
4889,Dutch Kills,57,2.0
4896,Breaking Upwards,1194,2.0
4898,Pink Flamingos,16792,2.0
4903,On the Downlow,156,2.0
4911,Signed Sealed Delivered,629,2.0

**11.** What are the directors and number of director facebook likes for movies made beteween 2000 and 2004 (inclusive) sorted in descending order of director facebook likes?

In [62]:
movies_df = pd.read_csv("movie.csv")

movies_df.drop(movies_df[movies_df.title_year >= 2005.0].index, inplace = True)
movies_df.drop(movies_df[movies_df.title_year <= 1999.0].index, inplace = True)
movies_df = movies_df[movies_df.title_year.notnull()]

frameData = pd.DataFrame(movies_df, columns= ['director_name', "director_facebook_likes"])
frameData.sort_values(by=["director_facebook_likes"], ascending=False)

             director_name  director_facebook_likes
1057     Christopher Nolan                  22000.0
3646     Christopher Nolan                  22000.0
1034         David Fincher                  21000.0
2849     Denzel Washington                  18000.0
2023          Kevin Spacey                  18000.0
...                    ...                      ...
2081           Kevin Smith                      0.0
1935  Paul Thomas Anderson                      0.0
1896              John Eng                      0.0
1895       Cathy Malkasian                      0.0
31               Sam Raimi                      0.0

[932 rows x 2 columns]